[submodule "ahar-dashboard-website"]
	path = ahar-dashboard
	url = https://github.com/aratheunseen/ahar-dashboard-website.git
[submodule "the-varendra-spark"]
	path = the-varendra-spark
	url = https://github.com/aratheunseen/the-varendra-spark.git
[submodule "varendra-university-online-portal"]
	path = vu-online-portal
	url = https://github.com/aratheunseen/varendra-university-online-portal.git
[submodule "sunplux"]
	path = sunplux
	url = https://github.com/aratheunseen/sunplux-with-assets.git
[submodule "pienteger"]
	path = pienteger
	url = https://github.com/aratheunseen/pienteger-with-assets.git
[submodule "calibux"]
	path = calibux
	url = https://github.com/aratheunseen/calibux-with-assets.git
[submodule "bornomala"]
	path = bornomala
	url = https://github.com/aratheunseen/bornomala-with-assets.git
[submodule "specdude"]
	path = specdude
	url = https://github.com/aratheunseen/specdude.git
[submodule "anovenus"]
	path = anovenus
	url = https://github.com/aratheunseen/anovenus.git
[submodule "mindspen"]
	path = mindspen
	url = https://github.com/aratheunseen/minds-pen-assets.git
